<style type="text/css">

.columns-list ul {
  columns: 2 auto;
}

@media only screen and (min-width: 480px) {
  .columns-list ul {
	columns: 3 auto;
  }
}

/* This only specifies `.new a` in case RealmsNet
 * specifies something for `a` that contradicts this.
 * `a` being styled in the external sheet means the
 * GitLab-hosted version will use this styling.
 */
.new, .new a {
  text-decoration: underline;
  text-decoration-color: red;
}

/* I would like to keep all the dark mode stuff
 * external, but the above stylings being internal
 * require that this also be internal.
 */
@media (prefers-color-scheme: dark) {
  .new, .new a {
    text-decoration-color: crimson;
  }
}

/* The only headings on the rules page are those
 * within the rules themselves, so these don't
 * affect anything aside from rules. Similar for
 * bold and strong tags.
 */
h1, h2, h3 {
  line-height: 125%;
  margin-top: 2em;
  font-weight: normal;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

b, strong {
  font-weight: bold;
}

/* Nobody uses definition lists, so it's not
 * surprising that the two in the Omnibus are
 * the only two on the rules page.
 */
dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
  margin-bottom: .8em;
}

dd {
  margin: 0 0 .8em 2em;
}

dd:last-child {
  margin-bottom: 0;
}

/* Though RealmsNet uses tables with very
 * different stylings no other tables appear
 * on the page hosting the rules. These
 * stylings should not interfere with any of
 * Ian's tables, but I think some of these
 * styles (notably borders) are overriddden
 * by RealmsNet's formatting anyways.
 */
table {
  margin-bottom: 2em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-spacing: 0;
  border-collapse: collapse;
}

tr:nth-child(even) {background: #eee}
tr:nth-child(odd) {background: #fff}

table>thead>tr>th, table>tbody>tr>td, table th, table td {
  padding: .2em 1em;
  border-top-style: solid;
  border-top-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
}

table td {
  vertical-align: top;
}

</style>